apiVersion: v1
kind: Secret
metadata:
  name: cmd-dev
data:
  crypto-secret-key: {{ "minikube" | b64.Encode }}
  auth0-api-token: {{ var.Env "AUTH0_API_TOKEN" | b64.Encode }}
  auth0-client-id: {{ var.Env "AUTH0_CLIENT_ID" | b64.Encode }}
  auth0-client-secret: {{ var.Env "AUTH0_CLIENT_SECRET" | b64.Encode }}
  aws-access-key: {{ var.Env "AWS_ACCESS_KEY_ID" | b64.Encode }}
  aws-secret-key: {{ var.Env "AWS_SECRET_ACCESS_KEY" | b64.Encode }}
  stripe-pub-key: {{ var.Env "STRIPE_PUB_KEY" | b64.Encode }}
  stripe-secret-key: {{ var.Env "STRIPE_SECRET_KEY" | b64.Encode }}
  mailgun-api-key: {{ var.Env "MAILGUN_API_KEY" | b64.Encode }}

  id_host: {{ fs.Read "../../lib/ssh/data/dev_host" | b64.Encode }}

---
apiVersion: v1
kind: Secret
metadata:
  name: gliderlabs
data:
  github-token: {{ var.Env "ACCESS_GH_TOKEN" | b64.Encode }}
  slack-token: {{ var.Env "SLACK_TOKEN" | b64.Encode }}
