<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	{{ partial "head" . }}

	<body role="document">
		<div class="ui inverted vertical segment" style="padding:0;">
      <div class="ui container">
        <div class="ui large borderless inverted menu">
          <a href="/" class="item" style="color: white !important;"><div style="border: 1px solid white; border-radius: 4px; background: white; color: black; font-size: x-large; line-height:1; margin-right: 6px;">&#8984;</div> CMD</a>
          <a href="/docs/" class="item"><i class="icon book"></i> Documentation</a>
          <a href="/community/" class="item"><i class="icon slack"></i>Community</a>
          <a href="/dev/" class="item"><i class="icon github"></i>Development</a>
					<a href="https://medium.com/gliderlabs" class="item"><i class="icon medium"></i>Blog</a>

					<div class="right item">
	          <a href="https://alpha.cmd.io/console/" class="ui inverted button">Login to the Console</a>
	        </div>
        </div>
      </div>
    </div>

		<div class="ui container" style="margin-top: 20px;">
			<div class="ui grid" style="margin-left: 4px;">
				<div role="navigation" aria-label="main navigation" class="four wide column">
					{{ partial "sidebar/sidebar" . }}
				</div>

				<div class="body ten wide column" role="main">
					{{ block "main" . }}{{ end }}
				</div>

			</div>


			{{ partial "footer" . }}

			{{ range .Site.Params.custom_js -}}
				<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
			{{- end }}

			{{ with .Site.Params.highlightjs -}}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
			<script>hljs.initHighlightingOnLoad();</script>
			{{ end }}

			{{ template "_internal/google_analytics.html" . }}
		</div>
	</body>
</html>
